<div class="medgooglemaps_navigation">
    <div class="medgooglemaps_content">
        <form name="search_route" method="get" action="http://maps.google.com/" target="_blank">
            <input type="hidden" name="q" value="{marker.address}, {marker.zip}, {marker.city}, {marker.country}" class="medgooglemaps_input_3" />
            <a href="javascript:void(0);" class="medgooglemaps_submit"><f:translate key="show_in_googlemaps" /></a>
        </form>
    </div>
</div>