.medgooglemaps_navigation_menue {
    margin: 0 0 10px 0;
}

.medgooglemaps_navigation_menue a {
    padding: 0 5px 0 0;
    text-decoration: none;
}

.medgooglemaps_navigation_menue a:hover {
    text-decoration: none;
}

.medgooglemaps_navigation_menue a:first-child {
    font-weight: bold;
}

.medgooglemaps_navigation_content input.medgooglemaps_submit {
    margin-top: -10px;
}

.tx-medgooglemaps img {
	max-width: none;
}

.medgooglemaps_content p:last-child {
	margin-bottom: 0;
}

/* Aspect ratios */
.map_aspect_ratio_4_3,
.map_aspect_ratio_16_9,
.map_aspect_ratio_16_10,
.map_aspect_ratio_21_9 {
	position: relative;
}

.map_aspect_ratio_4_3 > div,
.map_aspect_ratio_16_9 > div,
.map_aspect_ratio_16_10 > div,
.map_aspect_ratio_21_9 > div {
	position: absolute;
}

.map_aspect_ratio_4_3::after,
.map_aspect_ratio_16_9::after,
.map_aspect_ratio_16_10::after,
.map_aspect_ratio_21_9::after {
	display: block;
	content: "";
}

.map_aspect_ratio_4_3::after {
	padding-bottom: 75%;
}

.map_aspect_ratio_16_9::after {
	padding-bottom: 56.25%;
}

.map_aspect_ratio_16_10::after {
	padding-bottom: 62.5%;
}

/* This one may has a round error, because the real value has approximately 20 digits after the floating point */
.map_aspect_ratio_21_9::after {
	padding-bottom: 42.86%;
}